
/* css index
==============================================
1. HOME PAGE 

	1.1	Global Settings
	1.2	Header section
	1.3	Hero section slider
	1.4	Service Section
	1.5	Our Company Section
	1.6	Inventory section 
	1.7	Our-client-section
	1.8	Wan to see section
	1.9	Our service section
   1.10	Our Sample section
   1.11	Price-table-section
   1.12	Feature service section
   1.13	We are best Section
   1.14	Footer Section
2. Contact Us page 
 
	1.1 progressing
====================================================
*/
/*

font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;

*/

/*
=====================
1.1	Global Settings
=====================
*/
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	background: #f5f5f5;
	font-family: Rubik,Noto Sans,sans-serif;
	position: relative;
	color: #555;
	overflow-x: hidden;
}
h1 , h2, h3, h4, h5, h6 {
	font-family: 'Poppins-Medium', sans-serif;
}
a:hover {
	text-decoration: none;
}
.btn-1 {
	/*background: #38B7CA;
	color:#fff;
	border:1px solid #2C5960;
	padding:8px 16px;
	font-size: 20px;
	display: inline-block;*/
	color: #fff;
	/*background-color: #003680;*/
	border-color: #682c7f #59266c #491f59;
	border-style: solid;
	border-width: 1px;


/*	background: rgb(127,0,255);
	background: linear-gradient(0deg, rgba(127,0,255,1) 27%, rgba(72,229,194,1) 100%);*/
	background: rgb(127,0,255);
	background: linear-gradient(0deg, rgba(58,40,176,1) 0%, rgba(127,0,255,1) 56%);
	/*background: linear-gradient(0deg, rgba(58,40,176,1) 0%, rgba(127,0,255,1) 100%);*/

	/*background: -webkit-gradient(linear,left top,left bottom,from(#6594d4),to(#003680));
	background: linear-gradient(180deg,#6594d4,#003680);*/
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	font-size: 16px;
	font-weight: 500;
	border-radius: 6px;
	display: inline-block;
	padding:10px 18px;
}
.btn-1:hover,
.price-table-section .single-price-table .price-btn .basic-price-button:hover,
.price-table-section .single-price-table .price-btn .professional:hover
 {
	color: #fff !important;
	background: rgb(58,40,176);
	background: linear-gradient(0deg, rgba(58,40,176,1) 91%, rgba(127,0,255,1) 100%);
	-webkit-transition: all .3s linear !important;
	transition: all .3s linear !important;
}
.btn-2 {
	color: #783392;
	background-color: #fcbf14;
	border-color: #f3b403 #daa203 #c18f02;
	border-style: solid;
	border-width: 1px;
	background: -webkit-gradient(linear,left top,left bottom,from(#fdd86f),to(#fcbf14));
	background: linear-gradient(180deg,#fdd86f,#fcbf14);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	font-size: 16px;
	font-weight: 500;
	border-radius: 6px;
	display: inline-block;
	padding:10px 18px;
}
.btn-2:hover {
	color: #783392;
	background: -webkit-gradient(linear,left top,left bottom,from(#fcbf14),to(#fcbf14));
	background: linear-gradient(180deg,#fcbf14,#fcbf14);
}
.margin-buttom-0 {
	margin-bottom: 0px;
}
.section-title {
	color:#7e00ff/*#1700FF*/;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
}
.title  {
	color:#0E0194; /*#2F5485;*/
    font-size: 20px;
    font-weight: 600;
}
.title-info {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #7d7a7a !important;
	text-transform: capitalize;
}
.title-link {
	/*color:#086AD8;
	font-size: 16px;
	font-weight: 700;*/
	background-color: #7e00ff;
	padding: 2px 5px 1px;
	border-radius: 3px;
	display: inline-block;
	color:#fff;
}
.page-title {
	font-size: 40px;
    font-weight: 600;
    font-family: 'PT Serif';
    text-align: center;
    padding: 50px 0px;
    margin-bottom: 0px;
    text-transform:capitalize;
}
.card {
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
    /* box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);*/
  	transition: all 0.3s ease-in-out;
  	transform: translateY(0px) !important;
    margin-bottom: 25px;
    background: #fff;
    border-radius:0 !important;
}
/*.card:hover {
	box-shadow:0px 2px 8px #1e9298bd !important;
	transform: translateY(-5px) !important;
}*/
.uk-grid-margin {
	margin-top: 0px !important;
}
/*.uk-grid>* {
	padding-left:0px !important;
}*/
ol, ul {
	padding-left: 0px !important;
}






/*
*******************************************************************************
************************************ 1 HOME PAGE ********************************
*******************************************************************************
*/

/*
=====================================
1.2	Header section
======================================
*/
header {
/*	background: rgb(248,248,248);
	background: linear-gradient( 0deg, rgb(243 243 243) 0%, rgb(113 98 98) 100%);*/
	background:#7F00FF;
	position: relative;
}

header .main-nav {
	display: flex;
	justify-content:  space-between;
	align-items: center;
}
header .main-nav .main-nav-logo {
	width: 200px;
	height: auto;
} 
header .main-nav .main-nav-logo img{
	width: 100%;
    height: 70px;
    padding: 5px 0px;
}
header .main-nav .main-nav-link ul {
}
header .main-nav .main-nav-link ul {}
header .main-nav .main-nav-link ul li{
	margin:0px 6px;
}
header .main-nav .main-nav-link ul li a {
	color:#fff;
	padding:4px 18px;
}
header .main-nav .main-nav-link ul li a:hover {
	background: rgb(127,0,255);
	background: linear-gradient(0deg, rgba(58,40,176,1) 0%, rgba(127,0,255,1) 56%);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}
header .main-nav .main-nav-link ul li a.active {
	background: rgb(127,0,255);
	background: linear-gradient(0deg, rgba(58,40,176,1) 0%, rgba(127,0,255,1) 56%);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}
/* mobile nav */
.mobile-menu {
	display: none;
}
.mobile-menu .mobile-menu-icon {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 30%;
    right: 18px;
    
}
.mobile-menu .mobile-menu-icon:hover {
    cursor: pointer;
}
.overlay {
	background: #1e87f0;
	/*background: linear-gradient( 0deg, rgb(243 243 243) 0%, rgb(113 98 98) 100%);*/
    position:fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 0%;
    height: ;
}
.overlay-content {
    position: relative;
    top: 100px;
    width: 100%;
    text-align: center;
    height: 100vh;
}
.overlay-content a {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 2px;
}
.overlay-content a:hover {
    color: #fff;
}
.closebtn {
   color: #e83a3a;
    position: absolute;
    top: 1.5rem;
    right: 4.5rem;
    font-size: 33px;
}


@media (max-width: 575px) {
	header .main-nav {
		display:block;
	}
	header .main-nav .main-nav-link ul {
		display: none;
	}
	.mobile-menu {
		display: block;
	}
	.main-nav .main-nav-logo img{
		width: 70% !important;
		margin-top:25px;
	}
	

}
/*
===========================
1.3	Hero section slider
============================
*/
.hero-slider-section {
	margin-top:50px;
}
.hero-slider-section .hero-slider-area {
	padding-left: 0px;
	padding-right:0px;
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item {
	background: #fff;
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item h2{
	color:#1700FF;/*#1e87f0;*//*#2F5485;*/
    font-size: 25px;
    text-align: ;
    text-transform: capitalize;
    font-weight: 500;
    padding-left: 35px;
    margin-top: 50px;
    visibility: visible !important;
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item h3{
	color: #FF00CF;
	font-size: 20px;
	font-weight: 400;
	padding-top: 10px;
	padding-left: 39px;
	font-family: 'Rubik', sans-serif;
	margin-bottom: 0px;
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item h4{
	color:#0E0194;
	padding-left: 35px;
	padding-bottom:50px;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Rubik', sans-serif;
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item a {
	margin-left: 39px;
	margin-bottom: 50px; 
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item a:hover {
	background-color: #b9b9b9 !important;
	color:#000;
	transition:.5s ease-in;
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item .slider-images {
	visibility:visible !important;
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item .slider-images img{
	margin-top: 50px !important;
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item .slider-images {
	z-index: -1;
}
.carousel-control-prev {
	z-index:;
}
.carousel-indicators {
	display: none !important;
	position: relative !important;
}
.carousel-control-next,
.carousel-control-prev {
	width: 3% !important; 
}

.carousel-control-next-icon, .carousel-control-prev-icon {}
.carousel-item {}

@media (max-width: 575px) {
	.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item h2{
	font-size: 25px;
    width: 100% !important;
    padding-top: 25px;
	}
	.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item h3 {
		font-size: 30px;
		padding-top: 20px;
	}
	.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item h4 {
		font-size:20px;
		padding-top: 5px;
		padding-bottom:35px;
	}
	.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item a {
		width: 80%;
		margin-left: 10%;
		margin-bottom: 30px; 
		text-align: center;
	}
	.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item .slider-images img {
		margin-top:0px !important;
	}
}

/*===========================================
1.4 Service Section 
==============================================
*/
.service-section {
	padding: 50px;
	background: #3d00ca;
	padding-top: 60px;

}
.service-section .servece-section-area {
	background:;
	padding:  10px 10px;

}
.service-section .servece-section-area .servece-iteam {
	padding:35px 25px;

}
.servece-icon {
	width: 90px;
    height: 90px;
    margin: auto;
    margin-bottom: 15px;
    background: #9A39FC;
    border: 2px solid #FF00CF;
    border-radius: 50%;
    margin-bottom: 30px;
}
.service-section .servece-section-area .servece-iteam .servece-icon i {
	font-size: 40px;
	color:#fff;
}
.service-section .servece-section-area .servece-iteam  .servece-info {}
.service-section .servece-section-area .servece-iteam  .servece-info h2 {}
.service-section .servece-section-area .servece-iteam .servece-icon .servece-info p {
	color: #252627;
	font-size: 16px;
	text-align: justify;
}



/*
=======================================
1.5 Our Company Section
=======================================
*/
.our-company-section {
	padding:50px 0px;
	background: #b84dff;
}
.our-company-section .container {
	background:;
	padding:30px;
}
.our-company-section  .our-company-info  {
	padding:15px;
}
.our-company-section  .our-company-info h6 {
	font-size: 25px;
	color:#fff;
	font-weight: 700;
}
.our-company-section  .our-company-info h2  {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 600;
}
.our-company-section  .our-company-info h3 {
	color:#FFF;
	font-size: 18px;
	margin-bottom: 30px;
	font-weight: 600;
	opacity: 0.8;
}
.our-company-section  .our-company-info p {
	color:#000 !important;
	opacity:0.9;
}
.our-company-section  .our-company-info a:hover,
.price-table-section .single-price-table .price-btn .basic-price-button:hover {
	background-color: #b9b9b9 !important;
	color:#000;
	transition:.5s ease-in;
}
.our-company-section  .our-company-video {}
.our-company-section  .our-company-video .iframe-rep-image {
	position:  relative;
}
.our-company-section  .our-company-video .iframe-rep-image .overly-with-icon {
	position:  absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.our-company-section  .our-company-video .iframe-rep-image .overly-with-icon .icon-area {
	width: 200px;
    height: 200px;
    background: #376ACF;
    border-radius: 50%;
    position: relative;
}
.our-company-section  .our-company-video .iframe-rep-image .overly-with-icon .icon-area i {
	position: absolute;
	top: 52%;
	left: 55%;
	transform: translate(-50%, -50%);
	color:#fff;
	font-size: 100px;
}
@media (max-width: 768px) {

}
@media (max-width: 575px) {
	.our-company-section {
		margin:20px 0px;
	} 
	.our-company-section .our-company-info h2 {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
	}
	.our-company-section .our-company-info h3 {
    color: #2F5485;
    font-size: 25px;
    margin-bottom: 19px;
	}
	.our-company-section .our-company-video .iframe-rep-image .overly-with-icon .icon-area {
    width: 100px;
    height: 100px;
    border-radius: 50%;
	}
	.our-company-section .our-company-video .iframe-rep-image .overly-with-icon .icon-area i {
    position: absolute;
    top: 52%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
	}
	.our-company-section .our-company-info a {
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 20px;
	}

}
/*
=======================================
1.6 inventory section 
========================================
*/
.inventory-dealer-section {
	padding:30px 0px;
}
.inventory-dealer-section .container {
	background:#fff;
	padding:30px;
}
.inventory-dealer-section .section-title {
	margin-bottom: 50px;
}
.inventory-iteam {
	padding:30px 25px;
}
.inventory-iteam .servece-icon {
	width: 90px;
	height: 90px;
	margin:auto;
	padding:10px;
	margin-bottom: 30px;
	border-radius: 50%;
}
.inventory-iteam .servece-icon i {
	font-size: 40px;
	color:#fff;

}
@media (max-width: 575px)  {
	.section-title {
		font-size: 25px;
	}
	.inventory-dealer-section {
		padding:25px 0px;
	}
	.service-section .servece-section-area .servece-iteam  {
		margin-bottom:25px;
	}
}
/*
========================================
1.7 our-client-section
===========================================
*/
.our-client-section {
	padding:30px 0px;
	background:#6a1b9a;/*#EDE0FF;*/
}
.our-client-section .container {
	background:;
	padding:30px;
}
.our-client-section .container h2 {
	color:#fff !important;
}
.our-client-section .clients-logo-area{
	background: #fff;
	text-align: center;
	border:1px solid #999;
}
.our-client-section .clients-logo-area img {}
@media (max-width: 575px) {
	.our-client-section .section-title {
		font-size: 35px;
	}
}
/*=================================
1.8 wan to see section
=====================================
*/
.want-to-see-section {
	margin:30px 0px;
	background: #3d00ca;
}
.want-to-see-section .container {
	background:/*090808*/;
	padding:10px 30px;
}
.want-to-see-section .want-to-see-info {
	padding:30px 0px;
}
.want-to-see-section .want-to-see-info h2 {
	color:#fff;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
}
.want-to-see-section .want-to-see-info p {
	color:#fff;
	font-size: 16px;
	opacity: 0.9;
}
.want-to-see-section .call-to-action {
	display: flex;
	justify-content: center;
	align-items: center;
}
.want-to-see-section .call-to-action a  {
	padding:7px 15px;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
}
@media (max-width: 575px) {
	.want-to-see-section .want-to-see-info h2 {
		font-size: 25px;
	}
	.want-to-see-section .call-to-action {
		margin-bottom:20px;
	}
	.want-to-see-section .want-to-see-info p {
		font-size: 16px;
	}
}
/*=============================================================
1.9 our service section
================================================================
*/
.icon {
	border: 2px solid #3d00ca;
    padding: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff !important;
}
.our-service-section {
	padding:30px 0px;
}
.our-service-section .container {
	background:;
	padding:30px;
}
.our-service-section .container .our-service-info h2 {
	color:#1700FF /*#3d00ca*/ !important;
}
.our-service-section .container .our-service-info p {
	color:#000 !important;
	opacity:;
}
.our-service-section  .section-title {
	margin-bottom:50px;
}
.our-service-section .our-service-iteam {
	padding:50px 20px;
	background: #b84dff;

} 
.our-service-section .our-service-iteam p {
	color:#696969 !important;
}
.our-service-section .our-service-iteam .icon-area {
	width: 150px;

	
}

.our-service-section .our-service-iteam .icon-area .icon i {
	color:#7e00ff/*#38B7CA*/;
	font-size: 30px;
}


@media (max-width: 575px)  {
	.our-service-section  .section-title {
	margin-bottom:15px;
	}
	.our-service-section .our-service-iteam .icon-area {
		margin: auto;
		margin-bottom: 15px;
	}
	.our-service-section .our-service-iteam .icon-area .icon  {
		padding:0px;
		padding-top: 10px;
	}
}
/*
=================================================
1.10 Our Sample section
==================================================
*/
.our-sample-section {
	padding: 50px 0px;
	background: #9c4dcc;
}
.our-sample-section .container {
	background
	padding:30px;
}
.our-sample-section .container h2 {
	color:#fff !important;
}
.our-sample-section .container .col-md-2:first-child {
	
}

.our-sample-section .container .col-md-2 {
	
}
.our-sample-section .section-title {
	margin-bottom: 50px;
}

.our-sample-section .single-sample{

}
.our-sample-section  .single-sample img {}

@media (max-width: 575px) {
	.our-sample-section {
		padding:20px 0px;
	}
	.our-sample-section .section-title {
	margin-bottom: 20px;
	}
}
/*
====================================================
1.11 price-table-section
=====================================================
*/
.price-table-section {
	padding: 30px 0px;
	background: #EDE0FF;
}
.price-table-section .container {
	padding:30px;
	background:;
}
.price-table-section .section-title {
	margin-bottom: 50px;
}
.price-table-section .single-price-table {
	background: #fff;
	padding: 25px;
	transition: .5s;
	
}
.center-table {
	margin-top:-20px;
}
.price-table-section .single-price-table:hover {
	transform: scale(1.03) !important;
	
}
.price-table-section .single-price-table .professional-table {
	margin-top: -20px;
}
.price-table-section .single-price-table h3 {
	text-align: center;
	margin-top:20px;
}
.price-table-section .single-price-table .icon-area {
	width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    background: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid #003680;

}
.price-table-section .single-price-table .icon-area i {
	color:#7F00FF;
	font-size: 35px;
	
	
}
.price-table-section .single-price-table .price {
	text-align: center;
	color:#000; /*#2F5485;*/
    font-size: 22px;
    font-weight: 600;
}
.price-table-section .single-price-table p span{
	color:#797E84;
	font-size: 25px;
}
.price-table-section .single-price-table .price-btn {
	text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;

}
.price-table-section .single-price-table .price-btn .professional {
	color: #fff;
	background-color: #003680;
	border-color: #682c7f #59266c #491f59;
	border-style: solid;
	border-width: 1px;
	background: -webkit-gradient(linear,left top,left bottom,from(#6594d4),to(#003680));
	background: linear-gradient(180deg,#6594d4,#003680);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	font-size: 16px;
	font-weight: 500;
	border-radius: 6px;
	display: inline-block;
	padding:10px 18px;
}
.price-table-section .single-price-table .price-btn .basic-price-button {
	color:#003680;
	background: #fff;
	border-color: #682c7f #59266c #491f59;
	border-style: solid;
	border-width: 1px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	font-size: 16px;
	font-weight: 500;
	border-radius: 6px;
	display: inline-block;
	padding:10px 18px;
}

.price-table-section .single-price-table .price-feature-info {}
.price-table-section .single-price-table .price-feature-info p {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color:#7F00FF !important;
	text-transform: capitalize;
}	
.price-table-section .single-price-table .price-feature-info p i {
	margin-right: 15px;
}
/*
===========================================================
1.12 feature service section
===========================================================
*/
.feature-service-section {
	padding: 30px 0px;
	background: #6a1b9a;
}
.feature-service-section  .container {
	background:;
	padding:30px;
}
.feature-service-section .section-title {
	color:#fff;
	margin-bottom: 25px;
	text-align: center;
}
.feature-service-section .feature-ser-info {
	text-align: center;
}
.feature-service-section .feature-ser-info p {
	color:#fff;
	font-size: 14px;
}
.feature-service-section .feature-ser-info p i {
	color:#fff;
	font-size: 20px;
	margin-right: 15px;
}
.feature-service-section .feature-ser-info p span {}
.feature-service-section .feature-ser-button {
	text-align:center;
	margin-top:25px;
}
.want-to-see-section .call-to-action a:first-child:hover,
.want-to-see-section .call-to-action a:last-child:hover,
.feature-service-section .feature-ser-button a:hover {
	background-color: #b9b9b9 !important;
	color:#000;
	transition:.5s ease-in;
}
/*
============================================================
1.13 we are best section
============================================================
*/
.we-are-best-section {
	padding:30px 0px;
}
.we-are-best-section .container {
	background: #fff;
	padding:30px;
}
.we-are-best-section .section-title {}
.we-are-best-section .title-text {
	color:#555; /*#2F5485;*/
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.we-are-best-section .we-are-best-info  {}

.we-are-best-section .we-are-best-info p  {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #7F00FF !important;
	text-transform: capitalize;
}
.we-are-best-section .we-are-best-info p span{
	color:#7d7a7a !important;
}
.we-are-best-section .we-are-best-info p i {
	margin-right: 15px;
	font-size: 20px;
}
.we-are-best-section .we-are-best-info p span {

}
.we-are-best-section .we-are-best-image {}

@media (max-width: 575px) {
	.we-are-best-section {
    padding: 40px 0px;
	}
	.we-are-best-section .title-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
	}
	.we-are-best-section .we-are-best-info h3 {
    font-size: 25px;
	}
	.we-are-best-section .we-are-best-info {
		padding:5px;
	}
	.we-are-best-section .we-are-best-info p {
    font-size: 16px;
	}
}

/*
========================================================
1.14 footer section
===========================================================
*/
footer {
	background:#470090; /*#F7F7F7;*//*#F8F8F8;*/ /*#ACACAC*/  /*#6E6666  ;*/
	padding:30px 0px;
}
footer h2 {
	color: #fff;
    font-size: 20px;
    text-align: ;
    text-transform: capitalize;
    font-weight: 700;
}
footer h3 {
	color: #FFF !important;
}
footer .container address {
	color: #fff !important;
	opacity: 0.8;
}
footer .container p {
	color: #FFF !important;
	opacity: 0.8;
}
footer .social-footer {
	 display:flex;
    list-style: none;
}
footer .row a  {
	margin-bottom: 10px;
	display: block;	
	color: #fff !important;
	opacity: 0.8;
}
footer .social-footer  a  {
	display: block;
    padding: 0 6px;
    background: #fff;
    box-shadow: 0 1px 0 #ebebeb;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #7F00FF;
    margin:0px 8px;
    font-size: 20px;
    opacity: 1;
}
footer .social-footer  a i {
    color: #7F00FF;
}
.news-letter-area {
	height: 120px;
}
.news-letter-area .left-icon {}
.news-letter-area .input-email-area {
	position: relative;
	margin: 27px 21px 22px 0px;
	
}
.news-letter-area .input-email-area input {
	background: #f3f3f3 !important;
    color: #898d90 !important;
    border: 0;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    width: 97%;
    border-radius: 30px 0 0 30px;
}
.news-letter-area .input-email-area .news-letter-button {
	background: #363f4d;
    border: 0;
    border-radius: 0 30px 30px 0;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 0;
    height: 50px;
    width: 67px;
    transition: all .4s ease-out;
    position: absolute;
    right: -4px;
}
.news-letter-area .news-latter-info h3 {
	text-align: left !important;
}
.left-icon {
	font-size: 55px;
	color:#7F00FF;
	margin:5px 20px 5px 30px;

}
.payment-images img {
	
}
/*
===============================================================
=======================2. Contact Us page =====================
===============================================================
*/

/*========================
2.1 contact us section 
==========================
*/
	/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}





/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 50px;
}

.container-contact2 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
 }
.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding:50px 55px 50px 55px;
  box-shadow:0px 0px 6px 0px #6c6c6c;
}
.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #2F5485;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 35px;
  background: 
}
.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s;
  background: rgba(219,21,99,1);
  background: linear-gradient(45deg, #d5007d, #e53935);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  left: -100%;
  transition: all 0.4s;
}

.contact2-form-btn {;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  

}

.contact2-form-btn:hover  {
	background-color: #b9b9b9 !important;
	color:#000;
	transition:.5s ease-in;
  	left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
  .bg-contact2 {
  margin:20px 0px;
  }
}



/*
====================================================================
About us page
======================================================================
*/


/* cunster section*/
/*======================================
=         12. Counters Css              =
=======================================*/
.fun-fact-grid-4 {
  border-right: 1px solid #ededed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.fun-fact-grid-4 .grid-item {
  width: 25%;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .fun-fact-grid-4 .grid-item {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.fun-fact-grid-4 .grid-item::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  background: #ededed;
  width: 1px;
}

.fun-fact-grid-4 .grid-item::after {
  position: absolute;
  content: '';
  top: -1px;
  left: 0;
  right: 0;
  background: #ededed;
  height: 1px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fun-fact-grid-4 .grid-item {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .fun-fact-grid-4 .grid-item {
    width: 100%;
  }
}

.fun-fact--one .fun-fact__title {
  color: #333333;
  font-weight: 500;
  margin-bottom: 10px;
}

.fun-fact--one .fun-fact__count {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.41;
  color: #086AD8;
}

.fun-fact--one .fun-fact__text {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d2a98e;
}

.fun-fact--two {
  margin-bottom: 30px;
}

.fun-fact--two .fun-fact__count {
  font-size: 56px;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 1;
  font-weight: 700;
}

.fun-fact--two .fun-fact__text {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  letter-spacing: 2px;
}

.fun-fact--three {
  position: relative;
  margin-bottom: 40px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .fun-fact--three {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fun-fact--three {
    margin-bottom: 0px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .fun-fact--three {
    margin-bottom: 0px;
    margin-top: 30px;
  }
}

.fun-fact--three .fun-fact__count {
  color: #086AD8;
  margin-bottom: 19px;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
}

.fun-fact--three .fun-fact__text {
  font-size: 14px;
  text-transform: uppercase;
  color: #7e7e7e;
}

.fun-fact--four {
  position: relative;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .fun-fact--four {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fun-fact--four {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .fun-fact--four {
    margin-bottom: 30px;
  }
}

.fun-fact--four .icon {
  border-radius: 10px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  background: #fff;
  font-size: 30px;
  text-align: center;
  margin-right: 20px;
 box-shadow: 0 0 15px rgba(51, 51, 51, 0.05);
  color: #002FA6;
}

.fun-fact--four .fun-fact-text {
  text-align: left;
}

.fun-fact--four .fun-fact__count {
  color: #000000;
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 600;
  line-height: 1;
}

.fun-fact--four .fun-fact__text {
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 2px;
}

.fun-fact--five {
  margin-bottom: 40px;
}

.fun-fact--five .fun-fact__count {
  font-size: 46px;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 1;
  font-weight: 700;
}

.fun-fact--five .fun-fact__text {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  letter-spacing: 2px;
}

.modern-number-01 h2 {
  position: relative;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 2px;
  color: #ababab;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
}

.modern-number-01 span.mark-text {
  font-size: 180px;
  line-height: .8;
  font-weight: 900;
  margin: 0 5px -5px -5px;
  color: #d2a98e;
}

@media only screen and (max-width: 767px) {
  .modern-number-01 span.mark-text {
    font-size: 140px;
  }
}

.modern-number-01 h3 {
  margin-top: 25px;
  font-size: 38px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .modern-number-01 h3 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .modern-number-01 h3 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 767px) {
  .modern-number-01 h3 {
    font-size: 24px;
  }
}

.cybersecurity-about-text .text {
  font-size: 18px;
  margin-bottom: 20px;
}

.managed-it-fun-fact-wrapper .fun-fact-grid-4 .grid-item {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.managed-it-fun-fact-wrapper .fun-fact-grid-4 .grid-item::after {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .managed-it-fun-fact-wrapper .fun-fact-grid-4 .grid-item::after {
    display: inherit;
  }
}

@media only screen and (max-width: 767px) {
  .managed-it-fun-fact-wrapper .fun-fact-grid-4 .grid-item::after {
    display: inherit;
  }
}



/* testimonial section */
.testimonial-section .owl-carousel {}

.owl-nav {
	display: none;/* remove display none if you wat arrow navigation like prev and next */
}

/*.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}
span {
  font-size: 70px;
  position: relative;
  top: -5px;
}
.owl-nav button:focus {
  outline: none;
}
*/

.testimonial-section .owl-carousel .owl-dots {
  text-align: center;
  padding-top: 15px;
}
.testimonial-section .owl-carousel .owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.testimonial-section .owl-carousel .owl-dots button.owl-dot.active {
  background-color: #000;
}
.testimonial-section .owl-carousel .owl-dots button.owl-dot:focus {
  outline: none;
}
.testimonial-section .owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}

.testimonial-section {
	padding:50px 0px;
}
.testimonial-slider__container {
  padding-bottom: 0;
}

.testimonial-slider--info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
@media only screen and (max-width: 767px) {
  .testimonial-slider--info {
       flex-direction: column;
  }
  .testimonial-section {
	padding:25px 0px;
}
}
.testimonial-slider-img {
         flex-shrink: 0;
  		margin-right: 30px;
}
.testimonial-slider-img img {
  border-radius: 50%;
}
.testimonial-slider-text {
  font-size: 18px;
}
.testimonial-slider__author {
	flex-grow: 1;
}
.testimonial-slider__author .testimonial-rating {
  font-size: 16px;
  margin-bottom: 10px;
  color: #ffb944;
}

.testimonial-slider__author .author-info {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .testimonial-slider__author .author-info {
            flex-direction: column;
  }}
.author-info .name {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
}

.testimonial-slider__author .designation {
  font-size: 14px;
}

.testimonial-slider__author .designation:before {
  content: ' / ';
  padding: 0 5px;
}

.testimonial-slider-item {
  position: relative;
  background: #fff;
  padding: 31px 50px 47px;
  border-radius: 5px;
  margin: 20px 15px 35px;
  box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);
  transition: all 0.3s ease-in-out;
}

.testimonial-slider-item .testimonial-slider--info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.testimonial-slider-item .testimonial-slider--info .post-thumbnail {
  margin-right: 20px;
}

@media only screen and (max-width: 767px) {
  .testimonial-slider-item .testimonial-slider--info .post-thumbnail {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.testimonial-slider-item:hover {
      transform: translateY(-5px) !important;
}

@media only screen and (max-width: 767px), only screen and (min-width: 992px) and (max-width: 1199px) {
  .testimonial-slider-item {
    padding: 31px 20px 31px;
  }
}

.testimonial-slider__single {
  background: #ffffff;
  padding: 51px 37px 40px;
  border-radius: 5px;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.testimonial-slider__single .testimonial-subject {
  margin-bottom: 15px;
}

.testimonial-slider__single .testimonial-slider-text {
  color: #002FA6;
}

.testimonial-slider__single .author-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.testimonial-slider__container-two .swiper-slide.swiper-slide-prev {
  opacity: 0.5;
}

.testimonial-slider__container-two .swiper-slide.swiper-slide-next {
  opacity: 0.5;
}

.modern-it-company-testimonial {
  max-width: 570px;
}

.modern-it-company-testimonial .text {
  font-size: 34px;
  line-height: 1.34;
  font-weight: 500;
  color: #000000;
  margin-bottom: 80px;
}
.modern-it-company-testimonial .author h6 {
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .modern-it-company-testimonial .text {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .modern-it-company-testimonial {
    margin-top: 30px;
  }
  .modern-it-company-testimonial .text {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .modern-it-company-testimonial-bg {
    background-position: left 144px bottom 340px !important;
  }
}

/*=====  End of testimonial slider  ======*/
/* ============ counter section ================*/
.counter-section {
	padding:30px 0px;
	background: #38006b;
}
.counter-section .container {
	padding-bottom:30px;
	padding-top:60px;
	background:;
}
.conter-single {
	text-align: center;
}
.conter-single .counter {
	font-size: 56px;
	color: #ffffff;
	margin-bottom: 20px;
	line-height: 1;
	font-weight: 700;
}
.conter-single p {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	letter-spacing: 2px;
}


/*
=============================================================================
Blog page 
==============================================================================
*/


/* left site area */
.per-blog-post {
	margin-bottom: 40px;
	box-shadow: 0 0 20px rgb(51 51 51 / 10%);
	border-radius: 4px;
}
.author-img {}
.author-img img {
	border-radius:50%;
}
.blog-info-area {
	padding:0px 30px 40px 30px;
	background: #fff;
}
.category-post span a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color:#d2a98e;
	letter-spacing:2px;
}
.post-author-info i,
.post-author-info span {
	color:#696969;
}
.blog-title h2  {
	font-size: 25px;
	font-weight: 500;

}

/*
===================================
side bar area 
===================================
*/
.side-bar-area {
	background: #fff;
	padding:20px;
	box-shadow: 0 0 20px rgb(51 51 51 / 10%);
	border-radius: 4px;
	padding-bottom: 35px;
}

.sidebar-widget-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
  font-weight: 600;
}

.widget-search {
  position: relative;
}

.widget-search input {
  width: 100%;
  outline: none;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 3px 20px;
  padding-right: 20px;
  height: 56px;
  color: #ababab;
  border-color: #f8f8f8;
  background-color: #f8f8f8;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0em;
  padding-right: 72px;
}

.widget-search .search-submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: 0;
  border-radius: 0 5px 5px 0;
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  background: none;
  transform: none;
}

.widget-search .search-submit:hover {
  color: #ffffff;
  background: #086AD8;
}
.widget-search .search-submit:hover {
  color: #ffffff;
  background: #086AD8;
}
/* recent post */
.recent-post-link {
	list-style: none;
	padding-left:0px;
}
.recent-post-link li {
	margin:10px 0px;
}
.recent-post-link li a{
	color:#333333;
	text-transform:capitalize;
}

/* tags widget*/
.sidebar-widget .tags-list a {
	display: block;
	color:#333333;
	text-transform: capitalize;
}
.recent-post-link li a:hover,
.sidebar-widget .tags-list a:hover  {
	color: #086AD8;

}
@media (max-width: 575px) {
	.blog-title h2 {
    font-size: 18px;
	}
}