
/*font-family: "Montserrat", Helvetica, Arial, sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Rubik', sans-serif;*/

/* css index
==============================================
Global Settings
header section





====================================================
*/


/*
=====================
Global Settings
=====================
*/
* {
	margin: 0;
	padding: 0;
}
body {
	background: #F5F5F5;
	font-family: 'Rubik', sans-serif;
}
h1 , h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans', sans-serif;
}
a:hover {
	text-decoration: none;
}
.btn-1 {
	background: #38B7CA;
	color:#fff;
	border:1px solid #2C5960;
	padding:8px 16px;
	font-size: 20px;
	display: inline-block;
}

















header {
	background: rgb(248,248,248);
	background: linear-gradient( 0deg, rgb(243 243 243) 0%, rgb(113 98 98) 100%);
    padding-bottom: 45px;
}
header hr {
	background: #fff;
}
header .header-top-nav {
	display: flex;
	justify-content: space-between;
	padding-top: 12px;
}
header .header-top-nav p {
	margin-bottom: 0px;
	color:#fff;
	font-family: sans-serif;
}
header .header-top-nav .header-top-input {}
header .header-top-nav .header-top-input div input{
	background: #333;
	position: relative;
    font-family: "Open Sans";
    z-index: 1;
    height: 30px;
    width: 140px !important;
    text-align: left;
    line-height: 30px;
    font-size: 12px;
    margin: 0;
    border: 1px solid #eae6e6;
    opacity: 0.8;
    padding-left:10px;
    margin-left: 12px;
}
header .header-top-nav .header-top-input div input::placeholder {
	color:#eae6e6;
}
header .header-top-nav .header-top-input a {
	margin-left: 12px;
	color:#fff;
	font-size:12px;
	background-color:#b9b9b9;
    border: 1px solid #b9b9b9;
    border-radius: 2px !important;
    padding:4px 18px;
    font-family: sans-serif;
}
header .header-top-nav .header-top-input a:last-child {
	background: #0dc0c0;
    border: 1px solid #09b1b9 !important;
}

header .main-nav {
	display: flex;
	justify-content:  space-between;
	align-items: center;
}
header .main-nav .main-nav-logo {
	width: 200px;
	height: auto;
}
header .main-nav .main-nav-link ul {
}
header .main-nav .main-nav-link ul {}
header .main-nav .main-nav-link ul li{
	padding:4px 18px;
}
header .main-nav .main-nav-link ul li a {
	
	color:#fff;
}
header .main-nav .main-nav-link ul li:hover {
	background: #0dc0c0;
	transition:.5s ease-in-out;
}
/* mobile nav */
.mobile-menu {
	display: none;
}
.mobile-menu .mobile-menu-icon {
    color: #fff;
    font-size: 30px;
    float: right;
    margin-top: -38px;
    
}
.mobile-menu .mobile-menu-icon:hover {
    cursor: pointer;
}
.overlay {
	background: rgb(248,248,248);
	background: linear-gradient( 0deg, rgb(243 243 243) 0%, rgb(113 98 98) 100%);
    position:fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 0%;
    height: ;
}
.overlay-content {
    position: relative;
    top: 100px;
    width: 100%;
    text-align: center;
    height: 100vh;
}
.overlay-content a {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 2px;
}
.overlay-content a:hover {
    color: #fff;
}
.closebtn {
   color: #e83a3a;
    position: absolute;
    top: 1.5rem;
    right: 4.5rem;
    font-size: 33px;
}


@media (max-width: 575px) {
	header {
		padding-bottom:25px;
	}
	header .header-top-nav {
	display: block;
	}
	header .main-nav {
		display:block;
	}
	header .main-nav .main-nav-link ul {
		display: none;
	}
	.mobile-menu {
		display: block;
	}
	.header-top-nav,
	header hr {
		display: none !important;
	}
	.main-nav .main-nav-logo img{
		width: 70% !important;
		margin-top:25px;
	}
	

}
/*
===========================
Hero section slider
============================
*/
.hero-slider-section {}
.hero-slider-section .hero-slider-area .carousel {}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item {
	background: #fff;
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item h2{
	font-size: 45px;
    width: 194% !important;
    padding-top: 30px;
    padding-left: 39px;
    color: #2F5485;
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item h3{
	color:#000000;
	font-size: 50px;
	padding-top: 20px;
	padding-left: 39px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300 !important;
	margin-bottom: 0px !important;

}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item h4{
	padding-top: 15px;
	padding-left: 39px;
	font-size: 35px;
	padding-bottom:30px;
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item a {
	margin-left: 39px;
	margin-bottom: 30px; 
}
.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item a:hover {
	background-color: #b9b9b9 !important;
	color:#000;
	transition:.5s ease-in;
}
.carousel-control-prev {
	z-index:;
}

.carousel-control-next,
.carousel-control-prev {
	width: 3% !important; 
}

.carousel-control-next-icon, .carousel-control-prev-icon {}
.carousel-item {}

@media (max-width: 575px) {
	
	.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item h2{
	font-size: 25px;
    width: 100% !important;
    padding-top: 25px;
	}
	.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item h3 {
		font-size: 30px;
		padding-top: 0px;
		margin-bottom:0px;
	}
	.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item h4 {
		font-size:20px;
		padding-top: 5px;
		padding-bottom:35px;
	}
	.hero-slider-section .hero-slider-area .carousel .carousel-inner .carousel-item a {
		width: 80%;
		margin-left: 10%;
		margin-bottom: 30px; 
		text-align: center;
	}
}